body {
  margin: 0;
  min-height: 100vh;
  background-color: #2F2E41;
  font-family: 'JetBrains Mono', monospace;
}

.page {
  width: 1280px;
  margin: 0 auto 0;
  color: white;
  padding-top: 71px;
}

nav {
  width: 1083px;
  margin: 0 auto 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  gap: 64px;
  width: 306px;
  height: 30.05px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 28px;
}

main {
  width: 1092px;
  margin: 0 auto 157px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  height: 267px;
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto 59px;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

h1 span {
  color: #00BFA6;
}

p span {
  color: #00BFA6;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#line {
  border: 1px solid #00BFA6;
  width: 568px;
  padding: 0;
} 

footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 27px auto;
}

#cadeado {
  position: fixed;
  left: 0;
  bottom: 0;
}